#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root{
  --color-primary:#0ca6f3;
  --color-secondary:#010326;
  --color-light:#ffffff;
  --clr-active: #33ae10;
  --clr-complete: #5454e8;
  --clr-update: #00d866;
  --clr-delete: #ff7849;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.todolist-container{
  background-color: var(--color-light);
  margin: 20px 0;
  border-radius: 8px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
/* Header*/
.todolist-header{
  background-color: var(--color-primary);
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*logo area*/
.todolist-logo-area{
  display: flex;
  align-items: center;
  width: 150px;
  gap: 10px;
}
/*-----------filter area----------*/
.todo-filter-area{
  color: var(--color-light);
  font-weight: 600;
}
.todo-filter{
  border-radius: 50px;
  outline: none;
  border: none;
  padding: 5px;
  background-color: var(--color-light);
  cursor: pointer;
}

/*-----------------------alert------*/
div.todolist-alert{
  position: relative;
}
p.todolist-alert{
  padding: 5px 15px;
  border-radius: 50px;
  color: var(--color-light);
}
p.todolist-alert.todolist-alert-danger{
  background-color: var(--clr-delete);
}
p.todolist-alert.todolist-alert-success{
  background-color: var(--clr-update);
}
p.todolist-alert.todolist-alert-complete{
  background-color: var(--clr-complete);
}
p.todolist-alert.todolist-alert-warning{
  background-color: var(--clr-delete);
}

/*-----------------addTodo component css
*/
.todolist-addtodo{
  background-color: var(--color-secondary);
  padding: 15px 20px;
}
.todo-form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.todo-from-control{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 15px;
}
input.todo-input-control{
  flex: 1;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: #063d5d;
  color: var(--color-light);
  border: 1px solid var(--color-primary) !important;
}
input.todo-input-control:focus{
  border-color: #7fc7ec !important;
}
.todo-from-control .todo-btn{
  background-color:var(--color-light);
  border: none;
  outline: none;
  opacity: .9;
  color: var(--color-secondary);
  font-weight: bold;
  border-radius: 40px;
  padding: 10px 20px;
}
@media (max-width: 390px) {
  .todo-form-group .todo-btn{
    padding: 8px 10px;
  }
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.todo-list{
  position: relative;
  max-width: 768px !important;
  margin: 0 auto;
  font-size: 16px;
}
