
:root{
  --color-primary:#0ca6f3;
  --color-secondary:#010326;
  --color-light:#ffffff;
  --clr-active: #33ae10;
  --clr-complete: #5454e8;
  --clr-update: #00d866;
  --clr-delete: #ff7849;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.todolist-container{
  background-color: var(--color-light);
  width: 100%;
  margin: 20px 0;
  border-radius: 8px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width:768px){
  .todolist-container{
    height: 100vh;
    margin: 0;
  }
}
/* Header*/
.todolist-header{
  background-color: var(--color-primary);
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*logo area*/
.todolist-logo-area{
  display: flex;
  align-items: center;
  width: 150px;
  gap: 10px;
}
/*-----------filter area----------*/
.todo-filter-area{
  color: var(--color-light);
  font-weight: 600;
}
.todo-filter{
  border-radius: 50px;
  outline: none;
  border: none;
  padding: 5px;
  background-color: var(--color-light);
  cursor: pointer;
}

/*-----------------------alert------*/
div.todolist-alert{
  position: relative;
}
p.todolist-alert{
  padding: 5px 15px;
  border-radius: 50px;
  color: var(--color-light);
  margin: 0;
}
p.todolist-alert.todolist-alert-danger{
  background-color: var(--clr-delete);
}
p.todolist-alert.todolist-alert-success{
  background-color: var(--clr-update);
}
p.todolist-alert.todolist-alert-complete{
  background-color: var(--clr-complete);
}
p.todolist-alert.todolist-alert-warning{
  background-color: var(--clr-delete);
}

/*-----------------addTodo component css
*/
.todolist-addtodo{
  background-color: var(--color-secondary);
  padding: 15px 20px;
}
.todo-form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.todo-from-control{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 15px;
}
input.todo-input-control{
  flex: 1;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: #063d5d;
  color: var(--color-light);
  border: 1px solid var(--color-primary) !important;
}
input.todo-input-control:focus{
  border-color: #7fc7ec !important;
}
.todo-from-control .todo-btn{
  background-color:var(--color-light);
  border: none;
  outline: none;
  opacity: .9;
  color: var(--color-secondary);
  font-weight: bold;
  border-radius: 40px;
  padding: 10px 20px;
}
@media (max-width: 390px) {
  .todo-form-group .todo-btn{
    padding: 8px 10px;
  }
}



.todo-list{
  position: relative;
  margin: 0 auto;
  font-size: 16px;
  max-width: 768px;
}
#root{
  width: 100%;
  box-sizing: border-box;
}

/*---------------todolist button*/
.todo-btn{
  transition: all .2s ease-in-out;
  opacity: .8;
  color: var(--color-light);
}
.todo-btn:hover{
  opacity: 1;
  transform: scale(0.9);
}
.todo-btn:disabled{
  cursor: not-allowed;
}
/*--------------body---------------------*/
.todolist-body{
  flex-grow: 1;
  padding: 10px 20px;
}
.todo-table-wrapper {
  width: 100%;
  height: calc(100vh - 190px);
  overflow: auto;
  display: block; /* Apply block display and scrolling to the wrapper */
}
 .todo-empty{
  text-align: center;
  width: 100%;
}
.todolist-table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.todolist-table::-webkit-scrollbar{
  width: 18px;
  height: 8px;
}
.todolist-table::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background-color: #d8d8d8;
}
.todolist-table::-webkit-scrollbar-thumb:hover{
  background-color: #a2a2a2;
  visibility: visible;
}
.todolist-table td,
.todolist-table th{
  padding: 5px 15px;
}
.todo-td{
  margin: 0;
}
.todolist-table tbody td{
  word-wrap: break-word;
  text-align: left;
}
.todolist-table tbody tr:nth-child(even){
  background-color: #f2f2f2;
}
.todolist-table tbody tr:hover{
  background-color: #dddddd;
}
.todo-table-header{
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: #010326;
}
.todo-date {
  font-size: 13px;
  opacity: 0.7;
  font-weight: 600;
}
.todolist-table tfoot{
  text-align: center;
  width: 100%;
}
p.todo-completed{
  text-decoration: line-through;
  opacity: 0.8;
}
span.status.completed{
  background-color: var(--clr-complete);
}
span.status{
  padding: 3px 10px;
  color: var(--color-light);
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
}
span.status.active{
  background-color: var(--clr-active);
}
.todolist-table th{
  color: var(--color-light);
  background-color: #010326;
  padding: 5px unset;
  text-align: left;
}
.todo-action{
  display: flex;
  gap: 5px;
  justify-content: start;
  align-items: center;
}
button.todo-action-btn{
  padding: 8px;
  border-radius: 50%;
  font-size: 18px;
  width: 25px;
  height: 25px;
  justify-content: center;
  display: flex;
  align-items: center;
}
button.todo-action-btn svg{
  scale: 1.7;
}
button.todo-complete-btn{
  background-color: var(--color-primary);
}
.todo-btn{
  opacity: .8;
  color: var(--color-light);
  border: none;
}
button.todo-task-completed{
  background-color: var(--clr-complete);
}
button.todo-edit-btn{
  background-color: var(--clr-update);
}
button.todo-delete-btn{
  background-color: var(--clr-delete);
}
.todo-deleteall-btn{
  padding: 10px 23px;
  background-color: var(--clr-delete);
  border-radius: 40px;
  font-weight: 600;
}

/*---------------modal--------*/
.todolist-warning{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #01032652;
  gap: 10px;
  backdrop-filter: blur(30px);
  z-index: 9999;
  flex-direction: column;
}
.todolist-modal-warning{
  text-align: center;
  width: 250px;
  padding: 20px;
  background-color: var(--color-light);
  border-radius: 5px;
  box-sizing: border-box;
}
.todolist-modal-warning span{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--clr-delete);
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 35px;
  font-weight: 600;
  color: var(--clr-delete);
  margin-bottom: 10px;
}
.todolist-modal-warning h3{
  font-size: 18px;
  font-weight: bold;
}
.todolist-modal-warning p{
  opacity: 0.6;
}
.todolist-modal-warning .todo-action{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.todolist-modal-warning .todo-action button.todo-warning-btn{
  padding: 8px 20px;
  border-radius: 40px;
  color: var(--color-light);
  font-size: 12px;
  font-weight: 600;
}
button.yes{
  background-color: var(--clr-active);

}
button.cancel{
  background-color: var(--clr-delete);
}